@media (width >= 744px) {
  /* ---------------- NAV ---------------- */
  nav {
    height: 100px;
    padding: 0 48px;
  }

  nav img {
    max-height: 80px;
  }

  .fa-bars {
    font-size: 3rem;
  }

  .nav-title {
    transform: translateX(30px);
  }

  .nav-title h4 {
    font-size: 2rem;
  }
  .nav-title p {
    font-size: 1rem;
  }

  nav img.center {
    transform: translate(calc(50vw - 190px));
  }

  /* ------------- NAV MODAL ------------- */
  .nav-modal-container {
    height: calc(100vh - 100px);
  }

  .nav-modal-container ul {
    flex-grow: 9;
  }

  .nav-modal-container button {
    font-size: 3rem;
  }

  .nav-modal-container .credits {
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 48px;
  }

  .credits p {
    font-size: 1rem;
  }

  .credits i {
    font-size: 2rem;
  }

  /* ------------- MAIN ------------- */
  main {
    margin-top: 100px;
  }

  main section {
    padding: 0 48px;
  }

  section {
    min-height: calc(100vh - 100px);
  }

  /* ------------- HOME ------------- */
  .lang-container {
    top: 48px;
    right: 48px;
    font-size: 1rem;
  }

  .home-text {
    top: 15%;
  }

  .home-text h1 {
    margin: 1rem 0;
  }

  .profile-circle-01 {
    width: 380px;
    height: 380px;
    bottom: 16vh;
    right: 8vw;
  }

  .profile-circle-02 {
    width: 380px;
    height: 380px;
    margin-top: 8px;
  }

  .profile-pic {
    width: 350px;
    top: 16px;
    left: 8px;
  }

  .bg-line-02 {
    bottom: 30%;
  }

  .home-scroll-sign {
    bottom: 4vh;
    right: 48px;
  }

  .home-scroll-sign p {
    font-size: 1rem;
  }

  .home-scroll-sign .fa-arrow-down {
    font-size: 2rem;
  }

  .home-scroll-sign:last-of-type {
    left: 48px;
    right: auto;
  }

  /* ------------- ABOUT ------------- */
  section h2 {
    font-size: 5rem;
    padding: 48px 0;
  }

  .section-text {
    font-size: 1.2rem;
  }

  .about-grid {
    width: calc(65vh - 300px);
  }

  .bg-text {
    font-size: 20rem;
  }

  .about-container .bg-text p {
    transform: translateX(110px);
  }

  /* ------------- SKILLS ------------- */
  .skills-header i {
    font-size: 4rem;
    margin-left: 2rem;
  }

  .skills-card-container {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .skills-click-sign {
    top: 120px;
    right: 25vw;
  }

  .skills-click-sign p {
    font-size: 1rem;
  }

  .card {
    width: 260px;
    height: 200px;
    margin: 0 2rem;
  }

  .card-front h3 {
    font-size: 2rem;
  }

  .card-back h4 {
    font-size: 2rem;
  }

  .card-back li {
    font-size: 1.2rem;
  }

  .card:nth-of-type(1) .card-back {
    padding: 0.5rem 3rem;
  }

  .card:nth-of-type(2) .card-back {
    padding: 0.5rem 4rem;
  }

  .card-back {
    padding: 0.5rem 3rem;
  }

  .skills-container .bg-text {
    bottom: 0;
  }

  /* ------------- PORTFOLIO ------------- */
  .portfolio-projects-container {
    height: calc(100vh - 600px);
    margin-top: 48px;
  }

  .project-container {
    min-height: 120px;
    width: calc(100% - 16px);
  }

  /* width */
  .portfolio-projects-container::-webkit-scrollbar {
    width: 8px;
    height: 0;
  }

  .project-container img {
    width: 120px;
    height: 120px;
  }

  .project-container h3 {
    font-size: 2rem;
    margin-left: 1rem;
  }

  .portfolio-container .bg-text {
    bottom: 0;
  }

  /* ------------- PORTFOLIO-MODAL ------------- */
  .portfolio-modal-container {
    height: calc(100vh - 100px);
    top: 100px;
  }

  .portfolio-modal-bg {
    height: 600px;
    width: 648px;
    padding: 2.5rem;
  }

  .portfolio-modal-bg h3 {
    font-size: 3.5rem;
    margin-right: auto;
  }

  .portfolio-modal-bg .fa-circle-xmark {
    font-size: 3rem;
    top: 1.5rem;
    right: 1.5rem;
  }

  .portfolio-modal-bg .project-text {
    font-size: 1.5rem;
    height: 180px;
  }

  .portfolio-modal-bg video {
    width: 320px;
    margin: 0;
    align-self: flex-start;
  }

  .portfolio-nav {
    width: calc(100% - calc(320px + 2.5rem));
    right: 0;
    bottom: calc(20px + 2.5rem);
  }

  .portfolio-nav p {
    font-size: 2rem;
  }

  .project-links {
    width: calc(100% - calc(320px + 2.5rem));
    font-size: 2rem;
    position: absolute;
    right: 0;
    bottom: 200px;
  }

  .fa-circle-chevron-right,
  .fa-circle-chevron-left {
    font-size: 3rem;
  }

  /* ------------- CONTACT ------------- */
  .contact-container {
    height: calc(100vh - 220px);
  }

  form {
    max-width: 500px;
    margin: 2rem auto;
    margin-top: 48px;
  }

  form button {
    width: 180px;
    height: 50px;
    font-size: 1.5rem;
  }

  /* ------------- FOOTER ------------- */
  footer {
    height: 100px;
    padding: 0 48px;
  }
}

@media (width >= 1000px) {
  /* ---------------- NAV ---------------- */
  nav .nav-title {
    margin-right: auto;
    transform: translateX(16px);
  }

  nav > a {
    display: none;
  }

  .nav-btns {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .nav-btns li {
    list-style-type: none;
    height: 100%;
  }

  .nav-btns button.active {
    background: #fff;
    color: #220f24;
  }

  /* ---------------- HOME ---------------- */
  .home-text {
    max-width: 500px;
  }

  .home-scroll-sign {
    bottom: 48px;
  }

  .home-scroll-sign:last-of-type {
    display: none;
  }

  /* ---------------- ABOUT ---------------- */
  .about-text {
    max-width: 550px;
    height: 100%;
  }

  .about-grid {
    position: absolute;
    right: 48px;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100vw - 700px);
  }

  .bg-text {
    bottom: 0;
  }

  .about-container .bg-text p {
    transform: translateX(180px);
  }

  /* ---------------- SKILLS ---------------- */
  .skills-click-sign {
    right: 15vw;
  }

  .skills-card-container {
    justify-content: flex-start;
  }

  .card:not(:last-of-type):not(:first-of-type) {
    margin-left: auto;
  }

  .card:last-of-type {
    margin-right: auto;
  }

  /* ---------------- PORTFOLIO ---------------- */
  .portfolio-container h2 {
    display: inline-block;
  }

  .portfolio-text {
    position: absolute;
    top: 60px;
    left: 400px;
    width: calc(100% - 590px);
  }

  .portfolio-click-sign {
    position: absolute;
    top:100px;
    right: 120px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .portfolio-click-sign p {
    font-family: "Source Code Pro", monospace;
    font-size: 0.8rem;
    font-weight: 800;
    color: #6ea4bf;
  }

  .portfolio-click-sign .fa-arrow-down {
    font-size: 1.5rem;
    animation: point-down 1.5s infinite;
    color: #6ea4bf;
  }

  .portfolio-projects-container {
    margin-top: 0;
    height: calc(100vh - 350px);
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .project-container {
    width: 400px;
  }

  .project-container:last-of-type {
    margin-left: calc((100% - 800px)/4);
    margin-right: auto;
  }

  /* ---------------- CONTACT ---------------- */
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .contact-container h2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .contact-text {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .contact-container form {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    max-width: none;
    max-height: none;
    width: 90%;
    height: 100%;
    margin: 0;
    margin-left: 2rem;
    padding-top: 96px;
    padding-bottom: 1rem;
  }

  form textarea {
    height: 100%;
  }

  .contact-container .bg-text {
    bottom: 2vh;
  }
}

@media (width >= 1280px) {
  /* ---------------- NAV ---------------- */
  nav {
    width: 200px;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem 0;
    background-color: #331E36;
  }

  nav img {
    max-height: 150px;
    z-index: 2;
  }

  nav::after {
    content: "";
    width: 200px;
    height: 250px;
    position: absolute;
    background-color: #220f24;
    left: 0;
    top: 0;
  }

  nav .nav-title {
    margin-right: 0;
    transform: translateX(0);
    z-index: 2;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .nav-title h4 {
    font-size: 1.5rem;
  }

  .nav-title p {
    font-size: 0.8rem;
    text-align: center;
  }

  .nav-btns {
    flex-direction: column;
    width: 200px;
    height: auto;
    margin: auto 0;
  }

  .nav-btns li {
    height: 4rem;
    width: 100%;
  }

  .nav-btns button {
    height: auto;
    width: 100%;
  }

  nav .credits {
    display: flex;
    margin-top: auto;
  }

  nav .credits a {
    cursor: pointer;
  }

  /* ---------------- MAIN ---------------- */
  main {
    margin-top: 0;
    margin-left: 200px;
  }

  section {
    width: calc(100vw - 200px);
    max-width: 1080px;
    min-height: 100vh;
    margin: 0 auto;
  }

  /* ---------------- HOME ---------------- */
  .home-container {
    overflow-x: visible;
  }

  .profile-circle-01 {
    right: 15%;
    bottom: 20%;
  }

  /* ---------------- ABOUT ---------------- */
  .about-text {
    max-width: 500px;
  }

  .about-grid {
    width: 400px;
    transform: translateY(0);
    top: 80px;
  }

  .about-grid img {
    cursor: pointer;
  }

  /* ---------------- SKILLS ---------------- */
  .card {
    cursor: pointer;
  }

  /* -------------- PORTFOLIO -------------- */
  .portfolio-container .bg-text p {
    transform: translateX(35%);
  }

  /* -------------- PORT MODAL -------------- */
  .portfolio-modal-container {
    height: 100vh;
    top: 0;
    width: calc(100vw - 200px);
    right: 0;
  }

  .portfolio-modal-bg {
    height: 500px;
    width: 720px;
  }

  .portfolio-modal-bg h3 {
    font-size: 2.5rem;
  }

  .portfolio-modal-bg .fa-circle-xmark {
    font-size: 2rem;
  }

  .portfolio-modal-bg .project-text {
    font-size: 1rem;
    height: 115px;
  }

  .portfolio-modal-bg video {
    width: 400px;
  }

  .portfolio-nav {
    width: calc(100% - calc(400px + 2.5rem));
  }

  .project-links {
    font-size: 1.5rem;
    width: calc(100% - calc(400px + 2.5rem));
  }

  /* -------------- CONTACT -------------- */
  section.contact-container {
    min-height: 100vh;
    display: block;
  }

  .contact-text {
    width: 480px;
    padding-right: 2.5rem;
  }

  .contact-container form {
    grid-row-start: 2;
    padding: 0;
    width: 500px;
    height: calc(100vh - 250px);
    position: absolute;
    bottom: 48px;
    right: 48px;
  }

  .contact-container .bg-text p {
    transform: translate(32%, 15%);
  }

  .contact-click-sign {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 1.5rem;
    left: 3.5rem;
    display: block;
    opacity: 50%;
    width: 140px;
    color: #6ea4bf;
  }

  .contact-click-sign p {
    width: 100px;
  }

  .contact-click-sign i {
    animation: point-left 1.5s infinite;
  }

  @keyframes point-left {
    0% {
      transform: translateX(-1rem);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-1rem);
    }
  }

  .contact-click-sign i {
    position: absolute;
    translate: -40px 50%;
    color: #6ea4bf;
    font-size: 2rem;
  }

  /* -------------- FOOTER -------------- */
  footer {
    display: none;
  }
}